<div class="container w-full lg:h-screen flex flex-col justify-between">

  <div>

    <img class="mt-12 mx-auto h-12 w-auto" src="https://quikk.dev/assets/img/logo.svg" alt="Your Company">

    <div class="h-full whitespace-nowrap mt-8">

      <a [routerLinkActiveOptions]="{exact:false}" class="flex flex-row mx-3 my-1 p-2 hover:bg-indigo-100 text-gray-700 rounded-lg button-3 h-10"
         [routerLink]="['/secure/my-account']"
         routerLinkActive="active" >

        <mat-icon>manage_accounts</mat-icon>
        <div class="col-span-10 mx-3">
          <button class="mt-0.5 text-md font-medium ">My Account</button>
        </div>
      </a>

      <a [routerLinkActiveOptions]="{exact:false}"
         class="flex flex-row mx-3 my-1 p-2 hover:bg-indigo-100 text-gray-700 rounded-lg button-3 h-10"
         [routerLink]="['/secure/dashboard']"
         routerLinkActive="active">

        <mat-icon>dashboard</mat-icon>
        <div class="col-span-10 mx-3">
          <button class="mt-0.5 text-md font-medium ">Dashboard</button>
        </div>
      </a>

      <a
         class="flex flex-row mx-3 my-1 p-2 hover:bg-indigo-100 text-gray-700 rounded-lg button-3 h-10"
         [routerLink]="['/']"
         >

        <mat-icon>logout</mat-icon>
        <div class="col-span-10 mx-3">
          <button class="mt-0.5 text-md font-medium ">Logout</button>
        </div>
      </a>

  </div>
</div>
</div>

